Ju
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mukta', sans-serif;
    outline: none;
}

body{
    background: url("/img/background1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;
}

.container {
    background-color:#f2f2f221;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.input-task {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.button-add-task {
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: #075a98;
    color: #ffffff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover {
    opacity: 0.8;
    background-color: #094d82;
    box-shadow: 5px 5px #555fac1f;
    transition: all ease-in-out;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
    font-size: 22px;
}

.task {
    background-color: #F2F2F2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 25px;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #93bd3f;
    text-decoration: line-through;
}

@media (min-width:220px) and (max-width:768px){
    .container,
    .input-task,
    .list-tasks,
    .task,
    .done{
        width: 100%;
        padding: 3px;
    }
    body{
        width: 80%;
        min-height:85vh;
        margin: 0 auto;
    }
}